$link_1: #0375aa;
$link_2: #def0f9;  /* Sc pale Blue */

$blue_1: #F2FAFD;  /* Sc pale Blue */

$blue_5: #0375aa;  /* Sc Cyan Blue */
$blue_10: #0375aa; /* Sc Cyan Blue hover */
$blue_15: #02283B; /* SC Dark Blue */

$gold_5: #DAAD44; /* Housing Monitor Dark Gold */
$gold_10: #D5A32A; /* Housing Monitor Dark Gold */

$yellow_5: #F9CD32;  /* Sc Yellow */
$yellow_10: #e6b403;  /* Sc Yelow hover */

$red_5: #e11a2c;
$red_10: #a00816;

$grey_1: #E1E5E8;
$grey_5: #C7CFD4;
$grey_10: #9BA8B0;
$grey_15: #707070;
$grey_20: #252823;

$green_5: #34B475; /* SC Green */

/* SC blacks and white */

$c-black: #000;
$c-white: #fff;
$c-base: #02283B;