.btn {
	display:inline-block;
	color: $white_5;
	min-width: 120px;
	height: auto;
	line-height: 20px;
	font-size: 1em;
	border-radius: 6px;
	background-color: $ochre_5;
	text-decoration: none;
	text-align: center;
	font-weight:700;
	margin: 1% auto 0;
	padding: 8px 10px;
	transition: transform .2s;
	
	
	&:hover {color: $white_5; background-color: $yellow_5; -ms-transform: scale(1.1); transform: scale(1.1);
	}
		
	&:active, &:focus {color: $white_5; background-color: $blue_5;
	}
	
	&.btn-on-yell {background-color: $ochre_5;
		&:hover {background-color: $blue_5;}
		&:active, &:focus  {background-color: $orange_5;}
	}
	
	&.btn-on-green {background-color: $ochre_15;
		&:hover {background-color: $orange_5;}
		&:active, &:focus  {background-color: $ochre_10;}
	}
	
	&.btn-on-blue {background-color: $blue_5;
		&:hover {background-color: $ochre_5;}
		&:active, &:focus  {background-color: $orange_5;}
	}
	
	&.btn-rev {background-color: transparent; border: solid 2px $white_5; margin: .5rem auto 0; padding: 12px 16px;
		&.hero-scroll {font-size: 1.2em; font-family: $headline; font-weight: $light;}
		&:hover {color: $white_5; background-color: rgba($blue_5, .4);}
		&:active {color: $white_5; background-color: rgba($blue_5, 1);}
	}
	
	&.btn-rivers {font-size: 1.6em; font-family: $headline; font-weight: $light; background-color: $blue_5; padding: 1.5rem 2rem; margin-bottom: 2.5rem; letter-spacing: .5px; margin: .5rem 0 1rem; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
		&:hover {color: $white_5; background-color: $ochre_15;}
		&:active, &:focus  {color: $white_5; background-color: $orange_5;}
	}

	&.btn-warning {position: absolute; bottom: -1rem; right: 2rem; min-width: 30px; border-radius: 20px; border: 2px solid $white_5; background: rgba($grey_20, .75); padding: 5px 10px;}
	
}

/* Font Awesome */
.scroll-yellow {
	i {color: $yellow_5}
}

/* Scroll down to petition */

.btn.scroll-down-pet  {
background-color: $green_5; color: $white_5;
width: 280px;
margin: 1.5rem auto 1.5rem;
display: block;
font-size: 1.05rem;
padding: 12px 8px;
border-radius: 30px;
transition: all .3s ease-out;
 }

.btn.scroll-down-pet:hover  {
background-color: $green_5; transition: all .3s ease-out;
 }

.btn.scroll-down-pet:active  {
background-color: $green_5;
 }

@media screen and (min-width: 992px) {

.btn.scroll-down-pet {
    display: none;
}
	
}
