/* generic form */

/* Action Network */

#wrapper #can_embed_form {
  /* progress bar */ }
  #wrapper #can_embed_form h2 {
    display: none; }
  #wrapper #can_embed_form h4 {
    display: none; }
  #wrapper #can_embed_form p {
    color: #fff; }
    #wrapper #can_embed_form p a {
      text-decoration: underline; }
      #wrapper #can_embed_form p a:hover {
        text-decoration: none; }
  #wrapper #can_embed_form .country_drop_wrap {
    display: none; }
  #wrapper #can_embed_form label {
    color: #fff;
    font-size: .9rem; }
  #wrapper #can_embed_form #action_info {
    display: none; }
  #wrapper #can_embed_form input {
    border-radius: 4px; }
    #wrapper #can_embed_form input[type="submit"] {
      color: #000;
      font-size: 1.2rem;
      border-radius: 4px;
      background-color: #f9bc06;
      font-weight: 700;
      height: 44px; }
      #wrapper #can_embed_form input[type="submit"]:hover {
        color: #fff;
        background-color: #E96B1C; }
    #wrapper #can_embed_form input[type="text"] {
      height: 44px;
      border: 2px solid #f9bc06; }
    #wrapper #can_embed_form input[type="email"] {
      height: 44px;
      border: 2px solid #f9bc06; }
  #wrapper #can_embed_form #can_thank_you {
    background-color: #ee1d42; }
  #wrapper #can_embed_form .itiinput[type="text"] {
    margin-bottom: 15px; }
  #wrapper #can_embed_form #d_sharing {
    display: none; }
  #wrapper #can_embed_form .floatlabel-wrapper .floatlabel-label-active {
    display: none; }
  #wrapper #can_embed_form .international_link {
    color: #fff; }
  #wrapper #can_embed_form .action_status_tracker .action_status_goal {
    color: #fff;
    font-size: 1rem; }
  #wrapper #can_embed_form .action-widget--toggle.action_status_tracker .action_status_running_total {
    color: #fff;
    font-size: 1.2rem; }
  #wrapper #can_embed_form .action-widget--toggle .action_status_status_bar span.action_status_status_bar-grow {
    background-color: #f98c39; }
  #wrapper #can_embed_form .html-input-wrapper {
    color: #fff;
    line-height: 1.2;
    margin-bottom: .75rem;
    font-size: .85rem; }

#can_embed_form .floatlabel-wrapper .floatlabel-label-active {
  display: none; }

#wrapper #can_embed_form.can_float #form_col1, #wrapper #can_embed_form.can_float #form_col2 {
  float: none;
  width: 100%; }

#wrapper .action-content-wrap #can_embed_form input {
  border-radius: 4px; }
  #wrapper .action-content-wrap #can_embed_form input[type="submit"] {
    color: #E5BC8F;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: #1D1926;
    font-weight: 700;
    height: 44px; }
    #wrapper .action-content-wrap #can_embed_form input[type="submit"]:hover {
      color: #000;
      background-color: #f9bc06; }
  #wrapper .action-content-wrap #can_embed_form input[type="text"] {
    height: 44px;
    border: none; }
  #wrapper .action-content-wrap #can_embed_form input[type="email"] {
    height: 44px;
    border: none; }

#can_embed_form #can_embed_form_inner h3 {
    display: none;}

#can_embed_form form #form_col1 #action_welcome_message {color: #000;}

@include media('>=480px') {
  .hm-form-wrap {
    #can_embed_form {
      form {
          #form_col1 {display: flex; flex-wrap: wrap;
                  
              #action_welcome_message {width: 100%;}
              
                li:nth-child(1) {
                  &.core_field {
                    flex: 100%; 
                  }
                }  
                li:nth-child(2) {
                  &.core_field {
                    flex: 49%; 
                    margin-right: 2%;
                  }
                }

                li:nth-child(3) {
                  &.core_field {
                    flex: 49%; 
                  }
                }

                li:nth-child(4) {
                  &.core_field {
                    flex: 49%;  
                    margin-right: 2%;
                    margin-bottom: 0;
                  }
                }

                li:nth-child(5) {
                  &.core_field {
                    flex: 49%;  
                    margin-bottom: 0;
                  }
                }
                li:nth-child(6) {
                  &.core_field {
                    flex: 100;  
                  }
                }
        }
      }
        
      .international_link-wrap {}
    }
  }
}


/* Gravity forms */ 
    
#wrapper {
	
	.form-block {background: #f4f2f2; padding: 1rem;}
	
	.gform_wrapper {
		
		h2 {
			.gform_title {margin-top: .5rem;}
		}
		
		.top_label{
			textarea {margin-bottom: 2%;
				&.textarea {
				width: 100%;
				padding: 2%;
				border: 1px solid #7e8993;
				border-radius: 4px;
				width: 100%;}
				}
			}
		.gform_footer {
			input{
			&.button{
				border: none;
				color: #fff;
				height: 44px;
				line-height: 44px;
				font-size:1.3em;
				font-weight: $semibold;	
				margin: 0;
				padding: 0 2%;
				border-radius: 4px 4px 4px 4px;
				background-color: $ochre_5;
				background-image: none;
				transition: transform .2s;
				&:hover {background-color: $blue_5; -ms-transform: scale(1.1); transform: scale(1.1);}
				&:active {background-color: $orange_5;}
			} 
			}
		}
		.gfield_required {
    		color: #fff;
    		margin-left: 4px;
		}
		
			.ginput_container {
				input {border: 1px solid #7e8993; border-radius: 4px;
					&:hover {border: 1px solid $blue_5;}
				}
			}
		
	}
}


/* updates form */

#wrapper {
	.sign-up-wrap{
	.gform_wrapper {
		ul{
		&.gform_fields{
			li{
			&.gfield {padding-right: 0; width: 100%; margin-top: 0; margin-bottom: 20px; float: left; clear:none; padding: 0 1%;
				input {height: 44px; line-height: 44px; border-radius: 4px; border: solid $yellow_5 2px;
					 &:focus{border: solid $orange_5 2px;}
				}
				}
			&.hidden_label{
				input {margin-top: 0;}
				}	
			}
		}
		}
	.gform_footer {padding-top: 8px;
		input{
		&.button {margin: 0 auto; display: block; min-width: 180px; background: $yellow_5; font-weight: $bold;
			&:hover{color: $white_5; background: $blue_5;}
			}
	}
	}
	
	.validation_message {
    color: $white_5;
	}

	div {
		&.validation_error {
			color: $white_5;
			border-top: 2px solid $white_5;
			border-bottom: 2px solid $white_5;
		}
	}

		
}
}
}

@media (min-width: 576px) {
	
	#wrapper {
	.sign-up-wrap{
		.gform_wrapper {
			ul{
			&.gform_fields{
				li{
					&.gfield {width: 50%;}
				}
				}
			}
		}
	}
}
}

/* Report form */

#wrapper {
	.report-form {
		.gform_wrapper {
			span{
				&.gform_description {
					font-weight: $semibold;
					margin-bottom: .5rem
				}
			}
			ul{
				&.gform_fields {
					li{
					&.gfield {padding-right: 0px; margin-top: 0;}
					}
				}
			}
			h3 {
			 &.gform_title {font-size: 2.75rem; margin-top: 0; color:$grey_25;}
			}
			.top_label{
				div{
					&.ginput_container { margin-top: 0;
						&.ginput_container_fileupload { 
						input {
								&.medium {height: 40px; border: none;}
							}
						}
					}
				}
				input{
					&.large
					{border: 1px solid #CCCCCC;
					height: 44px;
					line-height: 44px;
					padding: 4px;
					border-radius: 4px 4px 4px 4px;
					margin-bottom: 2%;
						&:focus {border: 1px solid $grey_25;}
					}
				}
				#field_5_17 {
					.gfield_label {margin: 0;}
					}
				}
			.gform_footer {padding-top: 8px;
				input{
				&.button {float: right;}
				}
			}

		}
	}
}