@media (min-width: 992px) {	
	#header {z-index: 10; width: 100%;
		&.lo-shadow {box-shadow: 0px 5px 5px 0px rgba(0,0,0,.1);}
}
}

ul{
	&#mymenu {display: none;}
}

.flexmenu{
	&.fm-lg{
		ul{
			&#mymenu {display: block;}
		}
	}
	&.fm-sm{
		ul{
			&#mymenu {display: block;}
		}
	}
}

.menu-ft {
	ul{margin: .4rem 0; padding-left: 0;
	&#mymenu {display: block;
		li {list-style: none; padding: .2rem 0;
			&:first-child {}
			a {text-transform: none; font-weight: $bold; color: $white_5; }
		}
		
		}
}
}

.fm-button {float: left; margin: 4px 0 2px 8px;
	.fm-bar {background-color: #999; height: 3px;}
}

.home-header {height: 53px; transition: all .3s ease-out;
	.header-signup{display: none;}
}

#logo {width: 280px; position: absolute; z-index: 1; left: 4rem; top: 4px;
	a { transition: all .3s ease-out;
		&.logo {display: inline-block; height: 43px;}
		img {height: 100%; width: auto;}
	}
}

@media (min-width: 992px) {	
	#logo {width: 34%; left: 0; top: 0px; padding: 5px 12px 0;
		a{
			&.logo{height: 65px;}
		}
	}
    
    .home-header {height: 80px;}
	

}


@media (min-width: 1200px) {
    #logo {padding: 5px 20px 0;}
}	
	

@media (min-width: 1200px) {	
	#logo {
		a{
			&.logo{height: 85px;}
		}
	}
	.home-header {height: 100px;
		.header-items {top: 20px;
			.header-signup{top: 60px;}
			}
	}
}

/* Menus */

.flexmenu.fm-lg {
	li {
		a{color: #fff;}
	}
}

.flexmenu.fm-lg > ul > li {
    padding: 0;
}

@media (min-width: 992px) {

.flexmenu.fm-lg > ul > li {
    padding: 0 2px;
	Height: auto;
}

.flexmenu.fm-lg { width: auto; float: right; padding-top: 1.5rem; padding-right: 8rem;
	
	.navicon{
		&::after {right: 8px; top: 17px; border: 6px solid transparent; border-top-color: $orange_5; }
	}
	
	li {padding: 0 10px;
			&.menu-item-has-children {
				a {padding-right: 20px; }
			}
	
	a {font-size: 1rem; color:$ochre_10; font-family: $sans-serif; font-weight: $semibold; padding: 6px 10px 5px; /*text-transform: uppercase;*/
	&:hover {background: $ochre_10; color: $white_5; border-radius: 6px; }
        @media (min-width: 1200px) {font-size: 1.1rem; }
	}
	
	ul {border: none; background: transparent; border-radius: 4px; left: 2px;
        @media (min-width: 1200px) {left: 5px;}
		li{ padding: 0;

			&:last-child {
				a {border-bottom: none!important;}
			}
			a { color: #fff; background: $orange_5; border-radius: 4px; border-bottom: none; border-top: none; border-bottom: 1px solid rgba($white_5,.6)!important;
				
				&:hover {background: $ochre-10; border-radius: 4px; color:$white_5;}	
			}

		}
	}
		
	&.menu-item-205 {margin-right: .5rem;
		a {background: $orange_5; color: #fff; border-bottom: none; border-radius: 6px;
			&:hover{background: $ochre-5; color: #fff; border-bottom: none;}
		}
		.navicon{
		&::after {right: 15px; border-top-color: #fff;}
	}
		
	}
		
	&.menu-item-1480 {margin-right: .5rem;
		a {background: $orange_5; color: #fff; border-bottom: none; border-radius: 6px;
			&:hover{background: $ochre-5; color: #fff; border-bottom: none;}
		} 
		.navicon{
		&::after {right: 15px; border-top-color: #fff;}
	}
	}
        
    &.menu-item-974 {margin-right: .5rem;
        ul {left: auto; right: 0;}
        
		a {background: $orange_5; color: #fff; border-bottom: none; border-radius: 6px;
			&:hover{background: $ochre-5; color: #fff; border-bottom: none;}
		} 
		.navicon{
		&::after {right: 8px; border-top-color: #fff;}
	}
	}
        
        
		
}
	
}
}

@media (min-width: 1200px) {
    
.flexmenu.fm-lg > ul > li {
    padding: 7px 4px;
	height: auto;
}


.flexmenu.fm-lg li {padding: 0 20px;}
    
.flexmenu.fm-lg .navicon{
		&::after {top: 27px;}
	}
}

/**/

.hs-social {position: absolute; top: .75rem; right: 1.25rem; 
	@include media('>=992px') {top: 1.6rem;}
	@include media('>=1200px') {top: 2rem;}
	a {color: $ochre_5; margin: 0 1px;
		&:hover {color: $orange_5;}
	}
}

/* Scroll to top */

.scroll-to-top {
	i {color:$white_5;
		&:hover{color:$green_5;}
	}
}




