$link_1: #1e81b2;

$blue_5: #49ace8;

$yellow_5: #e3a147;

$ochre_5: #7b2015;
$ochre_10: #550d04;
$ochre_15: #402727;

$purple_5:  #f4f5f9;
$purple_10: #4d0f98;
$purple_15: #290258;

$teal_5: #00838a;

$orange_5: #de6f38;

$grey_1: #e7e7e7;
$grey_5: #cccccc;
$grey_10: #757575;
$grey_15: #666666;
$grey_20: #333333;
$grey_25: #323c43;

$white_5: #fff;
$black_5: #000;

$green_5: #168B86;
$green_10: #095C58;
$green_15: #022f2d;