$link_1: #0375aa;
$link_2: #def0f9;  /* CM pale Blue */

$blue_1: #F2FAFD;  /* CM pale Blue */

$blue_5: #5EBFDA;  /* CM Cyan Blue */
$blue_10: #3489a1; /* CM Cyan Blue hover */
$blue_15: #006A8C; /* CM Dark Blue */
$blue_20: #003349; /* CM Dark Blue/black */

/* $gold_5: #DAAD44;  Housing Monitor Dark Gold */
/* $gold_10: #D5A32A; Housing Monitor Dark Gold */

$yellow_5: #E59B3F;  /* CM Yellow */
$yellow_10: #db861b;  /* CM Yelow hover */

$red_5: #BE3087;
/* $red_10: #a00816;*/

$grey_1: #E1E5E8;
$grey_5: #F0F1F2;
$grey_10: #9BA8B0;
$grey_15: #707070;
$grey_20: #252823;

$green_5: #8DC066; /* CM Green */

/* SC blacks and white */

$c-black: #000;
$c-white: #fff;
$c-base: #02283B;